@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-gray-900: #18181b;
    --color-zinc-950: #09090b;
}

/* Custom base styles if needed */
@layer base {
    body {
        @apply antialiased text-gray-900 bg-white dark:bg-zinc-950 dark:text-gray-100;
    }
}